{
  "servers": {
    "nx-mcp": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "nx-mcp@latest",
        "${WORKSPACE_ROOT}"
      ]
    },
    "cli_use": {
      "type": "sse",
      "url": "http://localhost:9000/sse",
      "headers": {
        "Content-Type": "text/event-stream"
      }
    }
  }
}